---
title: RubySauna
body_class: index
layout: front_page
---

%section#intro
  = next_event_fetch(:intro, data.shared.default_intro)
  = next_event_fetch(:powered_by) do |powered_by|
    = partial "partials/powered_by", :locals => { :powered_by => powered_by }

- if upcoming_events.any?
  = partial "partials/speakers", :locals => { :speakers => next_event.speakers }
  = partial "partials/venue", :locals => { :venue => next_event.venue, :program => next_event.program }

= partial "partials/faq"
= partial "partials/newsletter"

- if upcoming_events.any?
  = partial "partials/sponsors", :locals => { :sponsors => next_event.sponsors }
